header.header
	.header__line
		include ../components/weather
		.user__holder
			include ../components/user
		include ../components/lang
	.header__line
		a.logo(href="/")
			include ../../public/images/icons/apartment.svg
		include ../components/navigation



