label.label.counter(for="count") Колличество человек
	input.counter__input#count.js-number(type="text",name="count",value="1")
	.counter__buttons
		button#inc(type="button") +
		button#dec(type="button") -