section.social.grid-col_2
	a.social__item(href="/login/vk")
		include ../../public/images/icons/vk.svg
	a.social__item(href="/login/facebook")
		include ../../public/images/icons/facebook.svg
	a.social__item(href="/login/google")
		include ../../public/images/icons/instagram.svg