extends layout

block content
	main.about
		h2.title Сеть отелей "Sysy House"
		p.about__text Сегодня во всем цивилизованном мире все больше популярности набирает такой тип гостиничного размещения, как апартаменты. Это совершенно не удивительно, поскольку подобное размещение идеально подходит для семей с детьми, небольших компаний, имеет приемлемую стоимость и дает гораздо больше свобод для своих постояльцев в сравнении с классическими отелями.
		p.about__text Но для начала давайте все же попробуем разобраться, что же такое апарт-отель. Прежде всего это комфортность проживания: в Вашем распоряжении отдельная, благоустроенная квартира, полностью оборудованная, привычная большинству людей. Так же стоит отметить площадь - в сравнении с гостиничным номером той же ценовой категории жилая площадь апартаментов как минимум в два раза больше.
		p.about__text Оборудованная кухня - Вы не будете стеснены в приготовлении полноценной, предпочитаемой Вами пищи, не будет необходимости звонить в ресторан каждый раз, когда захочется просто перекусить. Согласитесь, для пребывания более чем одну ночь это удобно. Бесспорным преимуществом является и то, что учитывая площадь апартаментов, они вмещают большее число гостей, в сравнении с тем же гостиничным номером, единственное, чего стоит придерживаться - это допустимый к размещению максимум, для Вашей же комфортности.
		p.about__text Схожесть с классическими отелями в том, что Вы так же легко можете забронировать апартаменты через Интернет или по телефону. Размещение происходит на общих правилах и положениях, ознакомиться с которыми Вы сможете, зайдя на сайт апарт-отеля. При размещении Вам не понадобится заключать никаких договоров аренды с частными лицами, как в случае с квартирами с посуточной арендой, да и сервис, предоставляемый непрофессионалами, достаточно сомнителен! Стоит ли рисковать? Очевидно, что нет.

